@model GroceryItem

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />

<div class="container border backgroundWhite p-4">
    <h2 class="text-primary pb-2">Delete Grocery</h2>

<form method="post" asp-action="Delete">
    <div class="backgroundWhite">
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Name" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <input asp-for="Name" readonly class="form-control" />
            </div>
        </div>
            <div class="row pt-3 flex-right">
                    <div class="col-3">
                        <input type="submit" class="btn btn-danger form-control" asp-route-id="@Model.Id" value="Delete" />
                    </div>
                    <div class="col-3">
                        <a asp-action="Index" class="btn btn-dark form-control">Back to List</a>
                    </div>
                </div>
    </div>
    </form>
</div>
        </div>